
<h2>画像一覧</h2>
<% @tweets.each do |tweet| %>

<div class="panel panel-default">
  <div class="panel-body text-center">
    <%= image_tag tweet.image , :size => '300x300' %></p>
    <%= tweet.text %>
  </div>
  <div class="panel-footer text-right"><%= tweet.name %></div>
</div>
<% end %>

<%= paginate(@tweets) %>